body{
    background-image: url(./src/assets/img/fondodepantalla.jpg);   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

    
}